* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  list-style: none;
}
li {
  margin-top: 10px;
}

#root {
  height: 100vh;

  --color-link: #305090;
  --color-link-light: #40c0f0;
  --color-link-hover: #f08040;
  --color-line: #404040;
  --color-light: #e0e0e0;
  --color-dark: #202020;
}
.light {
  background-color: var(--color-light);
  color: var(--color-dark);
}
.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.dark button {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.dark a {
  color: var(--color-link-light);
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  padding: 10px;
  flex: auto;
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
}
button {
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  border: 1px solid var(--color-line);
  border-radius: 5px;
}
button:hover {
  border: 1px solid var(--color-link-hover);
}
.header {
  padding: 10px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-line);
}
.footer {
  padding: 10px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-line); 
}
.blog {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.content {
  flex: 1 75%;
  padding: 10px;
}
.sidebar {
  flex: 1 25%;
  padding: 10px;
}